body {
    background-image: url("../images/background/tank_bg.jpg");
    background-repeat: no-repeat;
    font-family: 'Press Start 2p', sans-serif;
    color: white;
}

h2 {
    font-size: 30px;
    text-shadow: 2px 2px #ff0000;
}

h3 {
    font-size: 20px;
}

#game {
    margin: 18% 0 0 0;
    /*background: white;*/
}

#banner {
    background: grey;
    border-radius: 5px;
    border: 2px solid black;
    text-align: center;
    padding: 5px;
    margin-right: 1%;
    font-size: 30px;
    text-shadow: 2px 2px #ff0000;
}

#selection {
    margin-top: 1%;
}

.tank {
    float: left;
    border: 3px solid black;
    cursor: pointer;
    color: white;
    text-shadow: 2px 2px #ff0000;
}

.tank img {
    border: 2px solid red;
}

#vehicles {
    Margin-top: 1%;
    background: white;
}

#scoreboard {
    padding: 5px;
    margin-left: 1%;
    border-radius: 5px;
    background: white;
    color: black;
    text-shadow: 2px 2px lightgrey;
}

#battle {
    margin: 30% 0 0 30%;
}

#tank_selected,
#opponent {
    border: 2px solid red;
}

.player,
.enemy {
    float: left;
    border: 3px solid black;
    margin: 1% 0 0 0;
    padding: 5px;
    text-align: center;
    font-size: 17px;
    background: lightgrey;
}

.player {
    text-shadow: 2px 2px #01ff2b;
}

.enemy {
    text-shadow: 2px 2px #ff0000;
}

.attack {
    float: left;
    border: 2px solid black;
    border-radius: 5px;
    margin: 13% 2% 0 2%;
    height: 50px;
    color: white;
    text-shadow: 2px 2px #ff0000;
}