body {
    background: url("../images/background/tank_bg.jpg") no-repeat center center fixed;
    background-repeat: no-repeat;
    font-family: 'Press Start 2p', sans-serif;
    color: white;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 16px;
}

#game {
    margin: 12% 0 0 0;
    /*background: white;*/
}

#banner {
    background: grey;
    border-radius: 5px;
    border: 2px solid black;
    text-align: center;
    padding: 5px;
    margin-right: 1%;
    font-size: 30px;
    text-shadow: 2px 2px #ff0000;
}

#selection {
    margin-top: 1%;
}

#ps,
#es {
    margin: 20% 0 0 20%;
    text-shadow: 2px 2px #ff0000;
}

.btn-tank,
.btn-choice {
    float: left;
    padding: 5px;
    margin-left: 1%;
    border: 3px solid black;
    cursor: pointer;
    color: white;
    text-shadow: 2px 2px #ff0000;
}

.btn-tank img {
    border: 2px solid red;
}

#vehicles {
    Margin-top: 1%;
    background: white;
}

#scoreboard {
    padding: 5px;
    margin-left: 4%;
    border-radius: 5px;
    background: white;
    color: black;
    text-shadow: 2px 2px lightgrey;
}

#battle {
    margin: 30% 0 0 30%;
    text-shadow: 2px 2px #ff0000;
}

#player_selection {
    border: 2px solid #01ff2b;
}

#enemy_selection {
    border: 2px solid red;
}

.player,
.enemy {
    float: left;
    border: 3px solid black;
    margin: 1% 0 0 0;
    padding: 5px;
    text-align: center;
    font-size: 17px;
    background: lightgrey;
}

.player {
    margin-left: 12%;
    text-shadow: 2px 2px #01ff2b;
}

.enemy {
    text-shadow: 2px 2px #ff0000;
}

.attack {
    float: left;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10% 2% 0 2%;
    padding: 10px;
    color: white;
    text-shadow: 2px 2px #ff0000;
}

#pp,
#ep {
    background: black;
    max-width: 200px;
}


/*@media only screen and (min-width: 768px) {
    body {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 14px;
    }
    #selection button {
        padding: 1px;
        width: 25%;
    }
    #selection img {
        width: 75%;
    }
    .player,
    .enemy {
        width: 33%;
        padding: 1px;
        font-size: 12px;
        line-height: 15px;
    }
    #player_selection,
    #enemy_selection {
        width: 90%
    }
    .attack {
        font-size: 11px;
    }
}

@media only screen and (min-width: 960px) {
    body {
        background-size: 100%
    }
}*/