body {
    background: url("../images/background/tank_bg.jpg") no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Press Start 2p', sans-serif;
    color: white;
}

#win_lose {
    text-align: center;
}

#banner {
    background: grey;
    border-radius: 5px;
    border: 2px solid black;
    text-align: center;
    text-shadow: 2px 2px #ff0000;
}

#selection {
    margin-top: 1%;
}

#ps {
    text-shadow: 2px 2px #01ff2b;
}

#es {
    text-shadow: 2px 2px #ff0000;
}

#ps,
#es {
    margin: 10% 0 0 30%;
}

.btn-player,
.btn-enemy {
    float: left;
    padding: 5px;
    margin-left: 1%;
    border: 3px solid black;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.btn-player {
    text-shadow: 2px 2px #01ff2b;
}

.btn-enemy {
    text-shadow: 2px 2px #ff0000;
}

.btn-player img {
    border-radius: 5px;
    border: 2px solid #01ff2b;
}

.btn-enemy img {
    border-radius: 5px;
    border: 2px solid red;
}

#vehicles {
    Margin-top: 1%;
    background: white;
}

#sb_title {
    text-align: center;
}

#sb_pl_hp {
    margin: 0 0 0 4%;
}

#stats {
    text-align: center;
}

#sb_pl_hp,
#sb_op_hp {
    border: 3px solid black;
    border-radius: 5px;
    text-align: center;
    background: black;
    color: white;
    text-shadow: none;
}

.pla_hp {
    font-family: Orbitron;
    color: green;
}

.opo_hp {
    font-family: Orbitron;
    color: red;
}

#scoreboard {
    background: url("../images/background/concrete_seamless.png");
    border: 3px solid black;
    padding: 5px;
    margin-left: 4%;
    border-radius: 5px;
    color: black;
    text-shadow: 2px 2px lightgrey;
}

#battle {
    margin: 30% 0 0 0;
    text-shadow: 2px 2px #ff0000;
}

#player_selection {
    border: 2px solid #01ff2b;
    border-radius: 5px;
}

#enemy_selection {
    border: 2px solid red;
    border-radius: 5px;
}

.player,
.enemy {
    float: left;
    border: 3px solid black;
    border-radius: 5px;
    margin: 1% 0 0 0;
    padding: 5px;
    text-align: center;
    background: lightgrey;
}

.player {
    margin-left: 12%;
    text-shadow: 2px 2px #01ff2b;
}

.enemy {
    text-shadow: 2px 2px #ff0000;
}

.attack {
    float: left;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10% 2% 0 2%;
    color: white;
    text-shadow: 2px 2px #ff0000;
}

#pp,
#ep {
    background: black;
    max-width: 200px;
}

@media only screen and (min-width: 1000px) {
    body {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    #banner h2,
    #sb_title h2 {
        font-size: 18px;
    }
    .btn-player h3,
    .btn-enemy h3 {
        font-size: 10px;
    }
    #ps,
    #es {
        font-size: 18px;
    }
    #win_lose {
        font-size: 17px;
    }
    #game {
        margin: 15% 0 0 0;
    }
    #banner {
        padding: 2px;
    }
    #selection button {
        padding: 5px;
        width: 22%;
    }
    #selection img {
        width: 85%;
    }
    #scoreboard {
        padding: 1px;
        height: 150px;
    }
    #sb_pl_hp,
    #sb_op_hp {
        font-size: 12px;
        height: 100px;
    }
    #stats {
        font-size: 12px;
        margin: 3% 0 0 0;
    }
    #plahp,
    #opohp {
        font-size: 45px;
    }
    .pla_hp,
    .opo_hp {
        padding: 1px;
    }
    .player,
    .enemy {
        width: 25%;
        padding: 5px;
        font-size: 11px;
    }
    .attack {
        font-size: 12px;
    }
}

@media only screen and (min-width: 1500px) {
    body {
        background-size: 100%
    }
    #banner h2,
    #sb_title h2 {
        font-size: 30px;
    }
    .btn-player h3,
    .btn-enemy h3 {
        font-size: 18px;
    }
    #ps,
    #es {
        font-size: 30px;
    }
    #game {
        margin: 11% 0 0 0;
    }
    #win_lose {
        font-size: 35px;
    }
    #banner {
        padding: 5px;
        font-size: 30px;
    }
    #selection button {
        padding: 5px;
    }
    /*#selection img {
        width: 100%;
    }*/
    #scoreboard {
        padding: 5px;
        height: 250px;
    }
    #sb_pl_hp,
    #sb_op_hp {
        font-size: 18px;
        height: 175px;
    }
    #stats {
        font-size: 18px;
        margin: 6% 0 0 0;
    }
    .pla_hp,
    .opo_hp {
        padding: 5px;
    }
    #plahp,
    #opohp {
        font-size: 90px;
    }
    .player,
    .enemy {
        padding: 5px;
        font-size: 17px;
    }
    .attack {
        padding: 10px;
        font-size: 18px;
    }
}